body {
    font-family: Helvetica, sans-serif ;
    background-color: #cc89ff7c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 18px;
    color: rgb(72, 59, 67);
  }
  
  #app {
    width: 90%;
    max-width: 600px;
    background: #ffe5f7;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(235, 140, 140, 0.683);
  }
  
  h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: #ff67c2;
    font-size: 42px;
  }
  h3{
    font-family: Helvetica, sans-serif;
    text-align: center;
  }

  h5{
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: large;
  }
  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  input, textarea {
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #facaf1;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: #debac5;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #stories {
    margin-top: 20px;
  }
  
  .story {
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .story h2 {
    font-family: "Playwrite NG Modern", cursive;
    margin: 0 0 5px;
    font-size: 1.2em;
  }
  .button {
    font-family: "Playwrite NG Modern", cursive;
    display: inline-block;
    padding: 10px 15px;
    margin: 10px 23px;
    border: none;
    background-color: #ff8dc6;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    left: 5px;
  }
  
  .button:hover {
    background-color: #f8aed7;
  }